<launch>
	<!-- Roslaunch arguments -->
	<arg name="show_rviz" default="true"/>
	<arg name="paused" default="false"/>
	<arg name="debug" default="false"/>  
	<arg name="gui" default="true"/>

	<!-- Launch gazebo server -->
	<param name="use_sim_time" value="false" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/>
	    <arg name="paused" value="$(arg paused)"/>
	    <arg name="use_sim_time" value="true"/>
	    <arg name="gui" value="$(arg gui)"/>
	    <arg name="headless" value="false"/>
	    <arg name="debug" value="$(arg debug)"/>
  	</include>

	<!-- Urdf xml robot description loaded on the Parameter Server-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find unicorn_description)/urdf/unicorn_target.urdf.xacro'" />
	
	<!-- Push robot_description to factory and spawn robot in gazebo -->
	<node name="automower_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model automower -x 5.5 -y -2.6 -z 0.2 -Y -1.5707" />

	<!-- Robot visualization in Rviz -->
	<group if="$(arg show_rviz)">
		<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find am_description)/rviz/pf.rviz"/> 
	</group>
 
</launch>
