<launch>
  
    <!--PARAMETERS-->
    <param name="ellipse_scale" value="1"/>
    <param name="ini_filename" value="$(find mrpt_ekf_slam_2d)/tutorial/kf-slam_demo_2d.ini"/>
    <param name="odom_frame_id" value="odom_gazebo"/>
    <param name="global_frame_id" value="map"/>
    <param name="base_frame_id" value="base_link_gazebo"/>
    <param name="sensor_source" value="/landmark"/><!-- for multiple sensors, place comma eg "r1/front_laser/scan,/scan_rear " -->
    <remap from="/landmark" to="scan"/>
    <!--SLAM RUN--> 
    <node pkg="mrpt_ekf_slam_2d" type="mrpt_ekf_slam_2d" name="mrpt_ekf_slam_2d" output="screen"></node>
</launch>

