<launch>
  <master auto="start"/>

  <!-- Run the map server -->
   <node pkg="map_server" type="map_server" args="/home/akn13013/catkin_ws/src/UNICORN/unicorn_slam/maps/gmap_map.yaml" respawn="true" name="map" />

  <!--- Run AMCL -->
  <!-- <include file="$(find amcl)/examples/amcl_diff.launch">
    <rosparam param="amcl/use_map_topic">true</rosparam>
    <rosparam param="amcl/initial_pose_x">0</rosparam>
    <rosparam param="amcl/initial_pose_y">0</rosparam>
  </include> -->
  <!-- <include file="$(find husky_navigation)/launch/amcl.launch"/> -->
  <arg name="scan_topic" value="scan_filtered"/>
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam command="load" file="$(find unicorn_slam)/config/amcl.yaml"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
	
  <!--<node pkg="fake_localization" type="fake_localization" name="fake_local"/>-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

   <rosparam file="$(find unicorn_description)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find unicorn_description)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find unicorn_description)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find unicorn_description)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find unicorn_description)/config/base_local_planner_params.yaml" command="load" /> 
  </node>
</launch>
